body {
    background-color: green;
}

h1 {
    text-align: center;
    font-family: "Brush Script MT", serif;
}

img {
    height: auto;
    width: 500px;
}

h2 {
    font-family: "Courier New", sans-serif;
}